# https://github.com/github/gitignore
# source ~/.gitignore
#/*
# VCS
.git
.svn
.hgignore 
# Repo
!/.gitignore
!/README


# gcc coverage testing tool files
*.gcno
*.gcda
*.gcov


# automake
Makefile.in

# autoconf
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
stamp-h1

# Build artifacts
*.m4
*.P[lo|o]
*.l[o|a]
Makefile
*.so.*
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
missing
Module.symvers
modules.order
*.rng
md5sums
build_deb/
build_image/
ramdisk_deb/
ram_disk/
output/
dist/
build/


# Kbuild ignores
*.o.*
*.s
Kbuild
Config.in


# Normal output
/busybox
/busybox_old
/busybox_unstripped*


# debugging stuff
core
.gdb_history
.gdbinit


# testing output
/busybox.links
/runtest-tempdir-links
/testsuite/echo-ne

# Object files
*.o
*.o.cmd
*.ko
*.ko.cmd
*.obj
*.elf
*.a
*.dbg
*.mod.c
*.lo

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.directory
*.bak
# C++ Compiled Object files
*.slo
*.obj
# C++ Precompiled Headers
*.gch
*.pch
# C++ Compiled Dynamic libraries
*.dylib
# Compiled Static libraries
*.lai
*.lib
*.app


#/coverage/
.coverage
/coverage/
/spec/tmp
*.html
*.pdf
*.epub
*.mobi
/images/
**.orig
rerun.txt

# module files
*.mod

# Mac
.DS_Store*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
!/Library/
/Library/LinkedKegs
/Library/PinnedKegs
/Library/Taps


# Windows
*.com
*.dll
*.exe
Thumbs.db
[Dd]esktop.ini


# Temp
._*
.lock*
.~lock.*
*.bak
tmp/
*.tmp
@eaDir
@SynoResource
.@__thumb

## Vi
*.sw[po]


# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Logs and databases
*.log
log/
*.sql
*.sqlite
db/*.sqlite3
db/*.sqlite3-journal
db.ini
deploy_key_rsa


# Backups / patches
*~
~*
*.orig
*.rej
/*.patch


# Embedded
*.dtb
uImage


# cscope output
cscope.files


# Nodejs
node_modules

# Tcl
.tmp_versions
test-driver

# Java
*.class

# Python
*.py[cod~]
*.egg
*.egg-info
*.whl
.python_history
.ipython/


## Environment normalisation:
.bundle
/vendor/bundle

## these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

## if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

.rbx/
.sass-cache/


# Documentation
site/
#env/
htmlcov/
.tox/
/doc/tags
mkdocs.egg-info/

# Site
site/
/public/system
env/
htmlcov/
.tox/
mkdocs.egg-info/

## sensitive information
sites/*/settings*.php
config/initializers/secret_token.rb
config/secrets.yml

## generated content
public/uploads
/public/system
sites/*/files
sites/*/private

