
SUBSYSTEM!="usb", GOTO="libgg_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="libgg_rules_end"
ACTION=="remove", ENV{LIBGGDEV}=="Yes", RUN+="socket:@/org/semc/libgg/udevmonitor", GOTO="libgg_rules_end"

ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="adde", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d064", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d083", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d0aa", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d0a8", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d0f9", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d104", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d101", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0bdb", ATTRS{idProduct}=="100e", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="ffff", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f0aa", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f0f9", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f104", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f101", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f0fa", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="f106", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="d14c", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="7dde", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0fce", ATTRS{idProduct}=="8dde", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0451", ATTRS{idProduct}=="d009", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="04cc", ATTRS{idProduct}=="2b0a", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="04cc", ATTRS{idProduct}=="8500", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="8500", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9008", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"
ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d00d", SYMLINK+="epiusb%k", MODE="0666", ENV{LIBGGDEV}="Yes", OPTIONS+="last_rule", RUN+="socket:@/org/semc/libgg/udevmonitor"

LABEL="libgg_rules_end"
